$clr-dark: #262626;
$clr-blk: #000;
$clr-primary: #d3ab55;
$clr-secondary: #bbb;
$clr-white: #fff;

$font-dancingScript: 'Dancing Script', cursive;
$font-josefinSans: 'Josefin Sans', sans-serif;
$font-nunito: 'Nunito', sans-serif;

* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

body {
    background-color: $clr-dark;
}

%fx-center-all {
    display: flex;
    align-items: center;
    justify-content: center;
}

%txt-styles {
    letter-spacing: 2px;
    font-weight: 300;
    text-transform: uppercase;
}

%full-space {
    width: 100%;
    height: 100%;
}

// Misin with parameter
@mixin centering ($stopValue) {
    position: absolute;
    top: $stopValue;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin tablet {
    @media (max-width: 979px){ @content; }
}

@mixin mobile {
    @media (max-width: 767px){ @content; }
}