.hamburger-menu {
    height: 40px;
    position: fixed;
    right: 5%;
    top: 10%;
    width: 40px;
    z-index: 100;

    .menu {
        display: block;
        height: 100%;
        position: relative;
        cursor: pointer;

        &-line {
            height: 4px;
            width: 100%;
            background-color: $clr-primary;
            position: absolute;
            top: 3px;
            
            
            &-1 {
                animation: 
                    line-up-rotate-rev .4s,
                    line-up-rev .4s .5s;
                animation-fill-mode: forwards;
            }

            &-2 {
                top: 50%;
                transform: translateY(-50%);
                transition: .4s .3s;
            }

            &-3 {
                top: auto;
                bottom: 3px;
                animation:
                    line-down-rotate-rev .4s,
                    line-down-rev .4s .5s;
                animation-fill-mode: forwards;
            }
        }
    }
}

.checkbox:checked ~ .navbar-navigation .navbar-navigation-left {
    left: 0;
}
.checkbox:checked ~ .navbar-navigation .navbar-navigation-right {
    right: 0;
}

.checkbox:checked ~ .hamburger-menu .menu-line-1 {
    // transform: translateY(15px) rotate(45deg);
    animation: 
        line-up .4s,
        line-up-rotate .4s .5s;
    animation-fill-mode: forwards;
}
.checkbox:checked ~ .hamburger-menu .menu-line-2 {
    opacity: 0;
}
.checkbox:checked ~ .hamburger-menu .menu-line-3 {
    // transform: translateY(-15px) rotate(-45deg);
    animation: 
        line-down .4s,
        line-down-rotate .4s .5s;
    animation-fill-mode: forwards;
}

@keyframes line-down {
    0% {transform: translateY(0px);}
    100% {transform: translateY(-15px);}
}

@keyframes line-down-rotate {
    0% {transform: translateY(-15px) rotate(0deg);}
    100% {transform: translateY(-15px) rotate(-45deg);}
}

@keyframes line-up {
    0% {transform: translateY(0px);}
    100% {transform: translateY(15px);}
}

@keyframes line-up-rotate {
    0% {transform: translateY(15px) rotate(0deg);}
    100% {transform: translateY(15px) rotate(45deg);}
}

// ----------------------------

@keyframes line-down-rev {
    0% {transform: rotate(0deg) translateY(-15px);;}
    100% {transform: rotate(0deg) translateY(0px);;}
}

@keyframes line-down-rotate-rev {
    0% {transform: rotate(-45deg) translateY(-15px);}
    100% {transform: rotate(0deg) translateY(-15px);}
}

@keyframes line-up-rev {
    0% {transform: rotate(0deg) translateY(15px);}
    100% {transform: rotate(0deg) translateY(0px);}
}

@keyframes line-up-rotate-rev {
    0% {transform: rotate(45deg) translateY(15px);}
    100% {transform: rotate(0deg) translateY(15px);}
}


.logo {
    border-radius: 50%;
    border: 3px solid $clr-primary;
    color: $clr-primary;
    font-size: 4.375rem;
    height: 110px;
    margin-right: 1.2rem;
    text-decoration: none;
    width: 110px;
    @extend %fx-center-all;

    @media(max-width:1000px) {
        font-size: 3.125rem;
        width: 90px;
        height: 90px;
    }
}

.main-name {
    font-family: $font-nunito;
    font-size: 3.125rem;
    color: $clr-secondary;
    @extend %txt-styles;

    @media(max-width:1000px) {
        font-size: 2.8rem;
    }
}

.sub-name {
    font-family: $font-josefinSans;
    text-align: center;
    font-size: 1.1rem;
    color: $clr-secondary;
    @extend %txt-styles;
}

.main-heading {
    font-family: $font-dancingScript;
    font-size: 6.25rem;
    font-weight: 300;
    margin-bottom: 2.5rem;
    color: $clr-primary;

    @media(max-width:1600px) {
        font-size: 5rem;
    }

    @media(max-width:1300px) {
        font-size: 4rem;
        margin-bottom: 1.875rem;
    }

    @media(max-width:1000px) {
        font-size: 3.5rem;
    }
}

.sub-heading {
    font-family: $font-josefinSans;
    font-size: 3.75rem;
    font-weight: 300;
    margin-bottom: 5rem;
    color: $clr-secondary;
    text-align: center;

    @media(max-width:1600px) {
        font-size: 3.125rem;
        margin-bottom: 3.125rem;
    }

    @media(max-width:1000px) {
        font-size: 2.8rem;
    }
}

.main-btn {
    padding: 13px 23px;
    font-family: $font-josefinSans;
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $clr-primary;
    background-color: transparent;
    border: 1px solid $clr-primary;
    outline: none;
    cursor: pointer;
    transition: all .4s;

    &:hover {
        background-color: $clr-primary;
        color: $clr-dark;
    }
}

.card {
    height: 30vw;
    width: 33.3333%;
    position: relative;
    overflow: hidden;

    @include tablet {
        height: 35vw;
        width: 50%;
    }

    @include tablet {
        width: 100%;
        margin-top: 5px;
    }

    &:hover .card-overlay {
        transform: translateX(0);
    }

    &-overlay {
        position: absolute;
        top: 0;
        transform: translateX(-100%);
        background-color: rgba($clr-primary, .6);
        color: $clr-white;
        z-index: 1;
        @extend %fx-center-all;
        @extend %full-space;
        flex-direction: column;
        transition: transform .7s;

        &-heading {
            font-family: $font-nunito;
            font-size: 3.125rem;
            @extend %txt-styles;
            text-transform: capitalize;
        }

        &-paragraph {
            font-family: $font-josefinSans;
            font-size: 1.875rem;
            margin-bottom: 30px;
            @extend %txt-styles;
            text-transform: capitalize;
        }

        &-btn {
            background-color: $clr-white;
            color: $clr-primary;
            font-family: $font-josefinSans;
            font-size: .9rem;
            font-weight: bold;
            height: 40px;
            letter-spacing: 1px;
            text-transform: uppercase;
            width: 150px;
            border: 1px solid $clr-primary;
            border-radius: 1.875rem;
            outline: none;
            cursor: pointer;
        }
    }

    &-img {
        @extend %full-space;
        object-fit: cover;
        opacity: .5;
    }
}