@mixin navigation {
    
    &-list {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: space-around;
    }

    &-item {
        list-style: none;
    }

    &-link {
        color: color(primary);
        text-decoration: none;
        font-size: size(sm);
        transition: .3s;

        &:hover {
            color: lighten(color(primary), 40%);
        }
    }
}

@mixin flexPosition($justCont: center, $alignIte: center) {
    display: flex;
    justify-content: $justCont;
    align-items: $alignIte;
}